a {
  text-decoration: none;
}
body{
  background: white;
}
.rouge {
    color: #DB4437;
    font-size:40px;
    font-family:arial;
}
.jaune {
    color: #F4B400;
    font-size:40px;
    font-family:arial;
}
.bleu {
    color: #4285F4;
    font-size:40px;
    font-family:arial;
}
.vert {
    color: #0F9D58;
    font-size:40px;
    font-family:arial;
  }
.bleu .rouge .jaune .vert {
    font-size: 50px;
}
.secon{
  text-align: center;
}
.nom{
  text-align: center;
  margin-left: 700px;
  font-size: 15px;
  float: left;
}
.prenom{
  text-align: center;
  margin-right: 700px;
  font-size: 15px;
  float: right;
}
.username{
  text-align: center;
  font-size: 15px;
  margin-top: 100px;
}
.mail{
  text-align: center;
  font-size: 15px;
}
.mdp{
  text-align: center;
  font-size: 15px;
}
.centre{
  text-align: center;
  margin:auto;
  width: auto;
}
.retour {
  color: #A1A1A1;
  font-size: 15px;
  text-align: center;
  background: #EEEEEE;
  padding: 8px;
  border-radius: 2px;
  width: 80px;
}
.retour:hover {
  color: black;
  font-size: 15px;
  border: 1px solid #A1A1A1;
  padding: 8px;
}
.retour:active {
  border: 1px solid #4485f5
}
.sinscr{
  color: white;
  font-size: 15px;
    background: #4485f5;
  padding: 8px;
  border-radius: 2px;

}
.sinscr:active {
  color: white;
  font-size: 15px;
  background: #3e78d9;
}
.sins{
  color: black;
  font-size: 20px;
  text-align: center;
}
.tout{

}
